.logo {
  width: 4.4rem;
  height: 4.4rem;
  padding: 1rem;
  border-radius: 50%;
  img {
    width: 3rem;
    height: 2rem;
    top: 4.5%;
    left: 6.9%;
    animation: ig 1s cubic-bezier(0.32, 1.43, 0.79, 1.15) forwards;
    animation-delay: 1s;
  }
}
.logo > * {
  position: absolute;
}

@keyframes ig {
  0% {
    transform: translateY(3rem) scale(0);
    opacity: 0;
  }
  25% {
    transform: translateY(0) scale(0.6);
    opacity: 1;
  }
  50% {
    transform: translateY(0) scale(0) rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    padding-top: 0;
    padding: 2rem;
  }
}
